html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  
}
h1{
  text-align: center;
  color: #fff;
  margin-top: 70px;
}
.container{
text-align: center;
}
.area-box{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(255,228,196);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(255,228,196);
  border-radius: 10px;
}
.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form .button {
  background-color: #141e30;
  border-radius: 4%;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px

}
/*------------------------------------------------------------------------------*/

.login-box3{
  position: absolute;
  top: 110%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(255,228,196);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(255,228,196);
  border-radius: 10px;
}
.login-box3 h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box3 .user-box {
  position: relative;
}


.login-box3 .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box3.user-box input:focus ~ label,
.login-box3.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box3 form .button {
  background-color: #141e30;
  border-radius: 4%;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px

}
.button a {
  color: red; /* Substitua "red" pela cor desejada */
  text-decoration: none; /* Remove a sublinhado padrão do link */
}
.button a {
  color: red; /* Substitua "red" pela cor desejada */
  text-decoration: none; /* Remove a sublinhado padrão do link */
}

.login-box3 .button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box3 .button span {
  position: absolute;
  display: block;
}

.login-box3 .button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box3 .button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box3 .button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box3 .button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

/*------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------*/
.login-boxx {
  position: absolute;
  top: 86%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(255,228,196);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(255,228,196);
  border-radius: 10px;
}
.login-boxx h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-boxx .user-box {
  position: relative;
}


.login-boxx .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-boxx .user-box input:focus ~ label,
.login-boxx .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-boxx form .button {
  background-color: #141e30;
  border-radius: 4%;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px

}
.button a {
  color: red; /* Substitua "red" pela cor desejada */
  text-decoration: none; /* Remove a sublinhado padrão do link */
}
.button3 a {
  color: red; /* Substitua "red" pela cor desejada */
  text-decoration: none; /* Remove a sublinhado padrão do link */
}

.login-boxx .button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-boxx .button span {
  position: absolute;
  display: block;
}

.login-boxx .button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-boxx .button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-boxx .button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-boxx .button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

/*----------------------------------------------------------------------------------------------------------*/
    /* Estilos para a lista de alunos */
    .aluno-lista {
      list-style-type: none;
      padding: 0;
  }

  .aluno-item {
      margin-bottom: 20px;
  }

  .aluno-item span {
      font-weight: bold;
  }

  /* Estilos para o container e os botões */
  .container-fluid {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
  }

  .btn-container {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
  }

  .btn {
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      border-radius: 4px;
  }

  .btn-warning {
      background-color: #ffc107;
      color: #fff;
  }

  .btn-primary {
      background-color: #007bff;
      color: #fff;
  }
  .livro-imagem {
      float: left;
      margin-right: 10px;
  }

  .livro-imagem-pequena {
      width: 100px;
      height: auto;
  }

  .livro-detalhes {
      overflow: hidden;
      margin-bottom: 20px;
  }

  /* Estilos para tornar a página responsiva */
  @media screen and (max-width: 768px) {
      .container-fluid {
          padding: 10px;
      }

      .btn-container {
          flex-direction: column;
          align-items: center;
      }

      .btn {
          margin-top: 10px;
      }
  }




  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.form-group input[type="file"] {
    display: none;
}

.form-group .custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F79327;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.mensagem {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}

.mensagem.sucesso {
    background-color: #81c784;
    color: #388e3c;
}

.mensagem.erro {
    background-color: #ef9a9a;
    color: #721c24;
}

button[type="submit"] {
    display: block;
    margin-top: 6px;
    width: 100%;
    padding: 10px;
    background-color: #DEB887;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}




        /* Estilos para a lista de alunos */
        .aluno-lista {
          list-style-type: none;
          padding: 0;
      }

      .aluno-item {
          margin-bottom: 20px;
      }

      .aluno-item span {
          font-weight: bold;
      }

      /* Estilos para o container e os botões */
      .container-fluid {
          max-width: 1200px;
          margin: 0 auto;
          padding: 20px;
      }

      .btn-container {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
      }

      .btn {
          padding: 10px 20px;
          font-size: 16px;
          cursor: pointer;
          border: none;
          border-radius: 4px;
      }

      .btn-warning {
          background-color: #ffc107;
          color: #fff;
      }

      .btn-primary {
          background-color: #007bff;
          color: #fff;
      }

      /* Estilos para tornar a página responsiva */
      @media screen and (max-width: 768px) {
          .container-fluid {
              padding: 10px;
          }

          .btn-container {
              flex-direction: column;
              align-items: center;
          }

          .btn {
              margin-top: 10px;
          }
      }

